body{
    background-color:lightblue;
    color:Gn;
    font-size:20px;
}

p {
    background-color:#6495ED;
    border-radius:2px;
    text-align:center;
    padding:20px;
    color:#fff;
    
}

button{
   background-color:SlateBlue ;
   cursor:pointer;
   transform: scale(1.05);
   transition: 0.2s ease-in-out;
   color:white;
   border:solid black;
  
   
}

button:hover{
    background-color:SteelBlue ;
    border:solid white ;
    color:Lime;
}     
